extend base

link(href='/pure-min.css' type='text/css' rel='stylesheet')
block content
	.profile
		h2.title 公司简介
		p.present 红上金融信息服务（上海）有限公司是经上海市工商局批准设立的金融信息服务机构，公司成立于2014年7月，注册资本2亿元，红上金融多年来秉承“稳健、安全、专业”的发展理念，致力于为有投资需求的小微企业主或个人提供安全、高效的互联网金融服务。截至2017年6月，红上金融的服务已覆盖全国X个省的XXX个城市，帮助了数十万名需要融资发展的小微企业主及个人用户。
		.profile-nav
			ul.profile-nav-list
				li.profile-nav-item 
					i.fa.fa-diammond
					p.title 企业价值观
					p.goal 同成长，共分享
				li.profile-nav-item |
				li.profile-nav-item
					i.fa.fa-diammond
					p.title 企业使命
					p.以创造价值为核心，以回馈社会为己任
	.team
		h2.title 高管团队
		.team-board
			.team-item
				.photo
				.introduce
					h2.name 何源
					span.position (董事长)
					p.describe 红小宝的管理团队由来自人人贷、XXX、XXX的业内一线公司，平均行业经验10年以上，在互联网、金融服务行、信息安全、信贷风控等行业有着极为丰富的经验。红小宝的管理团队由来自人人贷、XXX、XXX的业内一线公司，平均行业经验10年以上，在互联网、金融服务行、信息安全、信贷风控等行业有着极为丰富的经验。
			.team-item
				.photo
				.introduce
					h2.name 何源
					span.position (董事长)
					p.describe 红小宝的管理团队由来自人人贷、XXX、XXX的业内一线公司，平均行业经验10年以上，在互联网、金融服务行、信息安全、信贷风控等行业有着极为丰富的经验。红小宝的管理团队由来自人人贷、XXX、XXX的业内一线公司，平均行业经验10年以上，在互联网、金融服务行、信息安全、信贷风控等行业有着极为丰富的经验。
			.team-item
				.photo
				.introduce
					h2.name 何源
					span.position (董事长)
					p.describe 红小宝的管理团队由来自人人贷、XXX、XXX的业内一线公司，平均行业经验10年以上，在互联网、金融服务行、信息安全、信贷风控等行业有着极为丰富的经验。红小宝的管理团队由来自人人贷、XXX、XXX的业内一线公司，平均行业经验10年以上，在互联网、金融服务行、信息安全、信贷风控等行业有着极为丰富的经验。
